.home {
    background-color: var(--col-b);
    position: relative;
    min-height: 1000px;

    // .home__container

    &__container {
    }

    // .home__body

    &__body {
        display: flex;
        justify-content: center;
    }
    // .home__content

    &__content {
        flex: 1 1 54%;
        margin-top: 220px;
    }

    // .home__title

    &__title {
        color: var(--col-desc-s);
    }
    &__title span {
        font-weight: 800;
    }

    // .home__text

    &__text {
        margin-top: 30px;
    }

    // .home__links

    &__links {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        align-items: center;
        font-weight: 600;
    }
    &__links span {
        color: var(--col-desc);
    }
    // .home__link

    &__link {
        color: var(--col-desc-s);
        font-size: 20px;
        transition: color 0.3s;
    }
    &__link:hover {
        color: var(--col-bl);
        transition: color 0.3s;
    }
    // .home__image

    &__image {
        flex: 1 1 46%;
    }
    &__image img {
        width: 100%;
    }
}
