@font-face {
    font-family: Helvetica Now Display;
    src: url(../../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Helvetica Now Display;
    src: url(../../fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: Helvetica Now Display;
    src: url(../../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Helvetica Now Display;
    src: url(../../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Helvetica Now Display;
    src: url(../../fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular.ttf);
    font-weight: 400;
}
